tabset
  tab(id="chatBox" active heading="Chat")
    div(id="chatWrapper" ng-controller="chatCtrl as chat")
      div(class="panel panel-default" scroll-glue style="overflow-y: auto; margin: 7px; background-color: ghostwhite; min-height: 350px; max-height: 400px;")
        ul(class="list-group" style="min-height: 100%;")
          li(ng-repeat="line in chat.pool track by $index" class="chat-line") {{line}}
      div(class="form-horizontal" style="margin: 7px;")
        div(class="form-group")
          div(class="col-md-1")
            button(type="button" class="btn btn-default" ng-model="chat.prefix" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false") /say
          div(class="col-md-11")
            input(id="chatInput" type="text" class="form-control" ng-model="chat.message" ng-keyup="$event.keyCode == 13 ? chat.send() : null") 
  tab(id="managerBox" heading="Manager")  
    div(id="managerWrapper" ng-controller="managerCtrl as manager" class="row")
      div(class="col-md-6")
        form(class="form-horizontal" ng-submit="manager.start()")
          fieldset
            legend(class="text-center") Map
            div(class="form-group")
              label(for="mapName" class="col-sm-2 control-label") Name
              div(class="col-md-10")
                select(required 
                  ng-disabled="manager.selected.status" 
                  id="mapName" 
                  class="form-control" 
                  ng-model="manager._mapGroup" 
                  ng-change="manager.selected.map = manager._mapGroup[manager._mapGroup.length - 1]" 
                  ng-options="value as key for (key, value) in manager.mapList")
                  option(value="") Select a map
            div(class="form-group")
              label(for="mapDate" class="col-sm-2 control-label") Date
              div(class="col-md-10") 
                select(required 
                  ng-disabled="manager.selected.status" 
                  id="mapDate" 
                  ng-change="" 
                  class="form-control"
                  ng-model="manager.selected.map" 
                  ng-options="map as (map.uploadDate | date:'dd/MM/yyyy HH:mm:ss') for map in manager._mapGroup track by map.uploadDate")
                  option(value="") Select version
          fieldset
            legend(class="text-center") Executable
            div(class="form-group")
              label(for="execName" class="col-sm-2 control-label") Name
              div(class="col-md-10")
                select(required 
                  ng-disabled="manager.selected.status" 
                  id="execName" 
                  class="form-control" 
                  ng-model="manager._execGroup" 
                  ng-change="manager.selected.exec = manager._execGroup[manager._execGroup.length - 1]" 
                  ng-options="value as key for (key, value) in manager.execList")
                  option(value="") Select an executable
            
            div(class="form-group")
              label(for="execDate" class="col-sm-2 control-label") Date
              div(class="col-sm-8")
                select(required 
                  ng-disabled="manager.selected.status" 
                  id="execDate" 
                  class="form-control" 
                  ng-model="manager.selected.exec" 
                  ng-options="exec as (exec.uploadDate | date:'dd/MM/yyyy HH:mm:ss') for exec in manager._execGroup track by exec.uploadDate")
                  option(value="") Select version
              button(class="col-sm-2 btn btn-primary" type="button" ng-click="manager.preview()") Preview
          fieldset(class="form-group")
            legend(class="text-center") Schedule
            div
              div(ng-repeat="schedule in manager.selected.schedules track by $index" class="form-group")
                label(for="scheduleFreq-{{$index}}" class="col-sm-2 control-label") Backup
                div(class="col-sm-4")
                  select(id="scheduleFreq-{{$index}}" ng-model="schedule.freq" ng-change="schedule = {freq: schedule.freq}" class="form-control")
                    option(value="every") Every
                    option(value="once") Once a day at
                    option(value="event") On specific event
                div(ng-switch="schedule.freq" class="col-md-5")
                  div(ng-switch-when="every" ng-switch="schedule.type" class="row")
                    div(class="col-md-4")
                      input(ng-switch-when="minute" type="number" min="1" max="59" ng-model="schedule.value" class="form-control")
                      input(ng-switch-when="hour" type="number" min="1" max="72" ng-model="schedule.value" class="form-control")
                    div(class="col-md-8")
                      select(class="form-control" ng-model="schedule.type")
                        option(value="minute") minutes
                        option(value="hour") hours
                  div(ng-switch-when="once" class="row")
                    div(class="col-md-7")
                      div(class="input-group")
                        input(class="form-control" type="number" ng-model="schedule.hour")
                        div(class="input-group-addon") :
                        input(class="form-control" type="number" ng-model="schedule.minute")
                  div(ng-switch-when="event" class="col-md-2")
                button(type="button" class="btn btn-warning" ng-click="manager.removeSchedule($index)") Quit

            label(for="scheduleFreq" class="col-sm-2 control-label") Backup
            div(class="col-sm-4")
              select(id="scheduleFreq" ng-init="manager._schedule.freq = 'every'" ng-model="manager._schedule.freq" ng-change="manager._schedule = {freq: manager._schedule.freq}" class="form-control")
                option(value="every") Every
                option(value="once") Once a day at
                option(value="event") On specific event
            div(ng-switch="manager._schedule.freq" class="col-md-5")
              div(ng-switch-when="every" ng-switch="manager._schedule.type" class="row")
                div(class="col-md-4")
                  input(ng-switch-when="minute" type="number" min="1" max="59" ng-model="manager._schedule.value" class="form-control")
                  input(ng-switch-when="hour" type="number" min="1" max="72" ng-model="manager._schedule.value" class="form-control")
                div(class="col-md-8" ng-init="manager._schedule.type = 'minute'; manager._schedule.value = 15;")
                  select(class="form-control" ng-model="manager._schedule.type")
                    option(value="minute") minutes
                    option(value="hour") hours
              div(ng-switch-when="once" class="row" ng-init="manager._schedule.hour = 12; manager._schedule.minute = 30;")
                div(class="col-md-7 input-group")
                  input(class="form-control" type="number" ng-model="manager._schedule.hour")
                  div(class="input-group-addon") :
                  input(class="form-control" type="number" ng-model="manager._schedule.minute")
              div(ng-switch-when="event" class="col-md-2")
            button(type="button" class="btn btn-primary" ng-click="manager.addSchedule(manager._schedule)") Add
          fieldset
            legend
            button(type="submit" ng-if="!manager.selected.status" ng-disabled="manager.selected.lock" class="btn btn-default btn-lg btn-block") Start
            button(type="submit" ng-if="manager.selected.status" ng-disabled="manager.selected.lock" class="btn btn-warning btn-lg btn-block") Stop
      
      div(class="col-md-6" ng-controller="explorerCtrl as explorer")
        legend(class="text-center") Files {{explorer.pToken}}
        
        div(id="explorerHeader" class="row")
          div(ng-if="!explorer.file.content")
            div(class="text-center col-xs-1")
              button(type="button" ng-click="explorer.back()" class="btn btn-xs btn-default")
                span(class="glyphicon glyphicon-arrow-left")
            strong(class="col-xs-7" ng-if="!explorer.file.content") Name
            strong(class="col-xs-4 text-center" ng-if="!explorer.file.content") Last modified
          div(ng-if="explorer.file.content")
            strong(class="col-xs-12 text-center" ng-if="explorer.file.content") {{explorer.file.name}}

        div(ng-show="!explorer.file.content")
          ul(class="row list-group")
            li(class="list-unstyled" ng-repeat="thing in explorer.tree.content track by thing.name" ng-switch="thing.readable")
              div(ng-switch-when="undefined")
                span(class="text-center col-xs-1 glyphicon glyphicon-folder-open")
                a(class="col-xs-7" href="" ng-click="explorer.foward(thing)") {{::thing.name}}
                span(class="col-xs-4") {{::thing.metadata.mtime | date:'dd/MM/yyyy HH:mm:ss'}}
              div(ng-switch-when="true")
                span(class="text-center col-xs-1 glyphicon glyphicon-pencil")
                a(class="col-xs-7" href="" ng-click="explorer.read(thing)") {{::thing.name}}
                span(class="col-xs-4") {{::thing.metadata.mtime | date:'dd/MM/yyyy HH:mm:ss'}}
              div(ng-switch-when="false")
                span(class="text-center col-xs-1 glyphicon glyphicon-file")
                span(class="col-xs-7") {{::thing.name}}
                span(class="col-xs-4") {{::thing.metadata.mtime | date:'dd/MM/yyyy HH:mm:ss'}}
          div(class="bottom-btn-container" ng-if="explorer.pToken")
            button(type="button" ng-click="explorer.acceptPreview()" class="btn btn-block btn-primary") Accept
            button(type="button" ng-click="explorer.cancelPreview()" class="btn btn-block btn-warning") Cancel
        div(id="filePanel" ng-if="explorer.file.content")
          textarea(class="form-control" ng-model="explorer.file.content" class="file-view")
          div(class="bottom-btn-container")
            button(type="button" ng-click="explorer.save()" class="btn btn-primary") Save
            button(type="button" ng-click="explorer.back()" class="btn btn-warning") Cancel
  tab(id="uploadBox" heading="Upload")
    div(id="uploadWrapper" ng-controller="uploadCtrl as upload")
      span(id="uploadArea")
        label(for="execFile") Choose an executable:
          input(fileRead="upload.exec" type="file" id="execFile")
        label(for="execName") Name:
          input(type="text" id="execName" ng-model="upload.exec.metadata.name")
          {{upload.exec.offset/1000000 | number:0}} MB / {{upload.exec.data.size/1000000 | number:0}} MB ({{100*upload.exec.offset/upload.exec.data.size | number:0}} %)
        //button(type="button" ng-click="upload.start(upload.file, 'exec')" id="uploadButton") Upload
  
        label(for="mapFile") Choose a map:
          input(fileRead="upload.map" type="file" id="mapFile")
        label(for="mapName") Name:
          input(type="text" id="mapName" ng-model="upload.map.metadata.name")
          {{upload.map.offset/1000000 | number:0}} MB / {{upload.map.data.size/1000000 | number:0}} MB ({{100*upload.map.offset/upload.map.data.size | number:0}} %)
        //button(type="button" ng-click="upload.start(upload.file, 'exec')" id="uploadButton") Upload
      button(type="button" ng-click="upload.start()") Upload
  
      h5 Chunk size selector:
      select(ng-model="upload.chunkSize")
          option(value="4") 4 bytes
          option(value="8") 8 bytes
          option(value="16") 16 bytes
          option(value="32") 32 bytes
          option(value="64") 64 bytes
          option(value="1024") 1024 bytes
          option(value="5024") 5024 bytes
          option(value="9024") 9024 bytes
          option(value="500000") 500 KB
          option(value="1000000") 1 MB
          option(selected value="2000000") 2 MB
          option(value="5000000") 5 MB
          option(value="20000000") 20 MB
  
    h5 Manage maps and executables
  tab(id="infoBox" heading="Info")
    //button(ng-click="server.start()") Start//
    //button(ng-click="server.stop()") Stop//